@model IEnumerable<MvcMovie.Models.Person>
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@{
    ViewData["Title"] = "Index";
}
<h1>Index</h1>
<p><a asp-action="Create">Create new</a>
 <a class="btn btn-primary" asp-action="Download">Download file</a>
 </p>

<table class="table">
    <thead>
        <tr>
            <th>
                Full Name
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>
                    @item.FullName
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PersonId">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.PersonId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@using (Html.BeginForm("Index ","Person", FormMethod.Get,new {id="forml"}))
{
    <div class ="row"> 
        <div class ="col-md-11"> 
           @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page = page, pageSize = ViewBag.psize }),
    new X.PagedList.Web.Common.PagedListRenderOptions
    {
        LiElementClasses = new[] { "page-item" },
        PageClasses = new[] { "page-link" }
    })

        </div>
        <div class =" col-md-1">
            @Html.DropDownList("pageSize",null,new {@class="form-select"})
        </div>
    </div>
    }
    <script src="https://code.jquery.com/iquery-1.9.1.min.js"></script>
    <script>
        $(document).ready(function()){
            $("#pageSize").change(function(){
                $("form1").submit();
            });
        });
    </script>
    

</div>
@Html.PagedListPager((IPagedList) Model, page => Url.Action("Index", new {page = page}), new X.PagedList.Mvc.Core.PagedListRenderOptions { LiElementClasses = new string[] {"page-item"}, PageClasses = new string[] { "page-link" }})
